.float-left {
    float: left;
}

.float-right {
    float: right;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mrl-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.box-config-container p,h5,label {
    color: white;
}